html
  head
    title= title
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  body
  div(class="container")
  <center><div class='well'><b>Users Details</b></div></center>
   table(class='table table-striped')
    thead
     tr
      th ID
      th Name
      th email
      th mobile
    each item in items
     tr
      td=item.id
      td=item.name
      td=item.email
      td=item.mobile
 
